In [1]:
#anyname() #pre define function
#ref.anyname()#pre define method
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

# STRING CLASS

In [2]:
a = "pakistan zinda bad"
print(a)

pakistan zinda bad

In [3]:
a.capitalize()

'Pakistan zinda bad'

In [4]:
a.upper()

'PAKISTAN ZINDA BAD'

In [5]:
a.title()

'Pakistan Zinda Bad'

In [6]:
a.lower()

'pakistan zinda bad'

In [7]:
print?

In [9]:
a.center??

In [10]:
abc = """Saylani Welfare
KARACHI
Pakistan"""
print(abc)

Saylani Welfare
KARACHI
Pakistan

In [11]:
abc ='''Saylani Welfare
Pakistan
Karachi'''
print(abc)

Saylani Welfare
Pakistan
Karachi

In [13]:
abc = """
*****PIAIC*****
Name: Muhammad Qasim
FATHER's Name: Muhammad Aslam
ROLL NO:786"""
print(abc)

*****PIAIC*****
Name: Muhammad Qasim
FATHER's Name: Muhammad Aslam
ROLL NO:786

In [17]:
Name = "Muhammad Qasim"
Father_Name = "muhammad Aslam"
Roll_no = 786


abc = """
*****PIAIC******
Saylani Welfare Trust
Name:{}
Father's Name:{}                                    
Roll No:{}
"""
#we put curly bracket to make code dynamic by following function methods
abc.format(Name,Father_Name,Roll_no)
print(abc.format(Name,Father_Name,Roll_no))

*****PIAIC******
Saylani Welfare Trust
Name:Muhammad Qasim
Father's Name:muhammad Aslam
Roll No:786

In [18]:
a="Pakistan"
b="Zindabad"
a+b #concatinate

'PakistanZindabad'

In [19]:
a=5
b=7
a+b

12

In [21]:
Name = input("Enter Your Name!")
Father_Name = input("Enter your Father's Name")
Roll_no = input("Enter your roll number")


abc = """
*****PIAIC******
Saylani Welfare Trust
Name:{}
Father's Name:{}
Roll No:{}
"""
abc.format(Name,Father_Name,Roll_no)
print(abc.format(Name,Father_Name,Roll_no))

Enter Your Name!Fayaz
Enter your Father's NameAbdul Ghafoor
Enter your roll number786

*****PIAIC******
Saylani Welfare Trust
Name:Fayaz
Father's Name:Abdul Ghafoor
Roll No:786

# Operators

In [22]:
1+2
3*5
12/5

2.4

In [24]:
#Pemdas to solve complex equation (parentesis exponential multiplication divide addition subtract)#
#+,-,*,/,%,// ** #mathematics
#=,+=,-=,*=,/=,%=,**= #assign Operators
#==,>,<,>=,<=,!=,<>#logical operators
#not and or is #is combine logic checking#

# +,-,*,/,%,// ,** #mathematics

In [25]:
15%4 #modulus sign is use to show remaindar value

3

In [28]:
15//4 #float is use to remove decimal value

3

In [27]:
15/4

3.75

In [29]:
15//4.0

3.0

In [ ]:
#pemdas
2+6*8/5+(2*3)
2+6*8/5+6
2+48/5+6
2+9.6+6
17.6

In [30]:
2+6*8/5+(2*3)

17.6

# =,+=,-=,*=,/=,%=,**= #assign Operators

In [31]:
a="Pakistan"
a

'Pakistan'

In [32]:
a*2

'PakistanPakistan'

In [34]:
a="abc"
a

'abc'

In [35]:
a += " xyz"
a

'abcxyz'

In [36]:
a*= 2
a

'abcxyzabcxyz'

In [37]:
a %= 2

TypeError: not all arguments converted during string formatting

In [38]:
a = 15
a

15

In [39]:
a %= 4
a

3

In [40]:
a = 3 
a **= 3
a

27

# ==,>,<,>=,<=,!=,<>#logical operators

In [41]:
5 == 5# single equal is use to assign values and == is use to to test logical

True

In [42]:
5==3

False

In [43]:
5>3

True

In [44]:
5<3

False

In [45]:
5>5

False

In [47]:
 5>=5

True

In [48]:
5 != 5

False

In [49]:
6<6

False

In [50]:
6<=6

True

In [51]:
5==5 and 6<=7 and 10>=9

True

In [52]:
5==5 and 6<=7 and 7>=9

False

In [53]:
5==5 or 6<=7 or 10>=9

True

In [ ]:
or,|
and,&

In [57]:
a = 'abc'
b = 'xyz'
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [58]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [59]:
a = '1'
b = '1'
a + b

'11'

In [60]:
int(a) + int(b)

2

In [61]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [64]:
name_1st="abc"
name_1st

'abc'

# IF else,elif

In [ ]:
if logic:
    true value
else:
    false value

In [ ]:
if logic1:
    true value1
elif logic2:
    true value2
elif logic3:
    true value3
elif logic4:
    true value4
    
if logic1 and logic2 and logic3:
    value true
else:
    false value

In [67]:
name = input("Enter your Name:")
if name.lower() == "qasim":
    print("Teacher")
else:
    print("student")

Enter your Name:qAsim
Teacher